body {
  margin: 0 auto;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 100px;
}

a {
  color: #a9a9a9;
}

.navbar-brand {
  padding: 50px;
}

.navbar a {
  color: #a9a9a9;
}

.navbar-nav {
  color: #a9a9a9;
  padding: 50px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #a9a9a9;
  text-decoration: line-through;
}

/********************************* PORTFOLIO ******************************/
.row-portfolio {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}

.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  filter: grayscale(1) brightness(0.5);
  cursor: pointer;
  transition: 0.3s linear;
}

.column img:hover {
  filter: grayscale(0);
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  .column img {
    filter: grayscale(0) brightness(1);
  }
}

/********************************* SECTIONS ******************************/
section {
  padding: 25px 0;
}

.section img {
  width: 100%;
}

/********************************* SOCIAL ICONS ******************************/
.fab, .far {
  font-weight: 200;
  padding: 5px;
}

#social-insta:hover {
  color: #3B5998;
}

#social-git:hover {
  color: #d34836;
}

#social-em:hover {
    color: #f39c12;
}
